*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: linear-gradient(#F3904F, #3b4371);
    height : 100vh;
}
h1{

    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 5%;
}
.container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.number{
    background-color: rgba(0,0,0,0.2);
    height: 300px;
    width: 400px;
    text-align: center;
    line-height: 300px;
    color: #fff;
    box-shadow: 5px 5px 8px 4px  rgba(0,0,0,0.4);
    font-weight: 500;
    font-size: 10rem;
    border-radius: 30px;
}
.buttons button{
    border: 1px solid rgba(0,0,0,0.3);
}
.btn1{
    background-color: green;
    display: inline-block;
    margin: 20px;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
.btn2{
    background-color: rgba(0,0,0,0.4);
    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
.btn3{
    background-color: red;
    display: inline-block;
    margin: 20px;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
.buttons button:hover{
    border: 1px solid rgba(0,0,0,0.5);
    transform: scale(1.05);
    box-shadow: 0.5px 0.5px 5px 1px  rgba(0,0,0,0.4);
}
.btn1:hover{
    background-color: rgb(2, 112, 2);
}
.btn2:hover{
    background-color: rgba(0,0,0,0.6);
}
.btn3:hover{
    background-color: rgb(218, 1, 1);
}

@media screen and (max-width: 450px) {

    .number{
        height: 200px;
        width: 300px;
        text-align: center;
        line-height: normal;
        font-size: 10rem;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (max-width: 280px) {

    .number{
        height: 100px;
        width: 200px;
        text-align: center;
        line-height: normal;
        font-size: 5rem;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
}